<div class="min-h-full">
  <nav class="border-b border-gray-200 bg-white">
    <div class="px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 justify-between">
        <div class="flex">
          <.link href="/" class="text-lg font-semibold leading-6 text-gray-900 flex items-center">
            MMOAIG
          </.link>
        </div>
      </div>
    </div>
  </nav>
  <main>
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </main>
</div>
